[submodule "external/"]
	path = external/
	url = https://github.com/uhfrb/json-parsing
[submodule "src/external/json-parsing"]
	path = src/external/json-parsing
	url = https://github.com/uhfrb/json-parsing